| body {
    | font-family: Arial, sans-serif;
    | background-color: #bdb10a;
    | margin: 0;
    | padding: 0;
    | }
    | .container {
    | max-width: 600px;
    | margin: 20px auto;
    | background-color: #7510d3;
    | padding: 20px;
    | border-radius: 5px;
    | box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    | }
    | .form-group {
    | margin-bottom: 15px;
    | }
    | label {
    | font-weight: bold;
    | }
    | input[type=&quot;text&quot;],
    | input[type=&quot;number&quot;],
    | input[type=&quot;date&quot;],
    | select {
    | width: 100%;
    | padding: 8px;
    | border-radius: 5px;
    | border: 1px solid #ccc;
    | box-sizing: border-box;
    | }
    | .btn {
    | background-color: #4CAF50;
    | color: rgb(25, 226, 226);
    | padding: 10px 15px;
    | border: none;
    | border-radius: 5px;
    | cursor: pointer;
    | }
    | /* adding a background image */
    | body {
    | background-image: url(&quot;/images/images.jfif&quot;);
    | }
    